<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method='post'>
        Username: <input type='text' name='usr'> <br>
        Password: <input type='text' name='pass'> <br>
        Professor:<input type='radio' name='typef' value='prof'> Student:<input type='radio' name='typef' value='stu'>
        Dont have an account? <a href="/"> click here </a>
        <input type='submit'>
    </form>
</body>
</html>